// Specific CSS for your home-page

// body {
//     color: #84ceeb;
//     color: #5680e9;
//     color: #5ab9ea;
//     color: #c1c8e4;
//     color: #8860d0;
//     mix-blend-mode: color;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.banner p {
  font-size: 28px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.banner .container {
  margin-top: 50px;
}
.container .btn {
  margin-top: 50px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center-text {
  text-align: center;
}

// .container img {
//   width: 100px;
// }

// .dog-container .avatar-large {
//   width: 350px;
//   position: relative;
//   left: 900px;
// }
