// Specific CSS for your home-page

// body {
//     color: #84ceeb;
//     color: #5680e9;
//     color: #5ab9ea;
//     color: #c1c8e4;
//     color: #8860d0;
//     mix-blend-mode: color;
// }

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.banner p {
  font-size: 28px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.banner .container {
  margin-top: 50px;
}

footer-container{
  background-color: aliceblue;
  border: 50px;
  border-radius: 100px;
}





.container .btn {
  margin-top: 50px;
}

.home-btn {
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 5em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
}

.home-btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.home-btn svg rect {
  //stroke: #EC0033;
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.home-btn span{
background: rgb(255,130,130);
background: -moz-linear-gradient(left,  rgba(255,130,130,1) 0%, rgba(225,120,237,1) 100%);
background: -webkit-linear-gradient(left,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
background: linear-gradient(to right,  rgba(255,130,130,1) 0%,rgba(225,120,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );

-webkit-background-clip: text;

-webkit-text-fill-color: transparent;
}

.home-btn:hover:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}



.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center-text {
  text-align: center;
}


// .container img {
//   width: 100px;
// }

// .dog-container .avatar-large {
//   width: 350px;
//   position: relative;
//   left: 900px;
// }
