// Import page-specific CSS files here.
@import "home";
@import "pets";
@import "bookings";
@import "edit";
.index-div {
  display: flex;
}
.title {
  position: sticky;
  top: 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.map {
  height: 100%;
  position: sticky;
  top: 0;
}

body {
  background-image: linear-gradient(to right, #264653, #2A9D8F, #E9C46A, #F4A261, #E76F51)
}


// .container-grid {
//   display: grid;
//   grid-template-columns: 1fr;
//   flex-grow: 1;
//   justify-content: center;
//   border: 2px solid red;
// }
// .card-grid {
//   background-size: cover;
//   background-position: center;
//   height: 250px;
//   border-radius: 1px;
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
//   // display: flex;
//   align-items: center;
//   // justify-content: space-around;
//   font-size: 8px;
//   color: white;
//   font-weight: bolder;
//   margin: 150px 1px;
// }
