.text-center {
  text-align: center;
}

.container-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px;
  }

.card-grid {
  box-sizing: border-box;
  display: flex;
  margin: 4px;
  flex-grow: 1;
  display: grid;
  grid-gap: 16px;
  // padding: 15px;
  justify-content: center;
}
.price {
  align-items: flex-end;
}

@media (min-width:576px) {
  .card-grid {
    width: calc(50% - 24px);
    max-width: calc(50% - 24px);
  }
}
@media (min-width:768px) {
  .card-grid {
    width: calc(33.333% - 24px);
    max-width: calc(33.333% - 24px);
  }
}

.link {
  text-decoration: none;
  color: $black;
}
.link:hover {
  text-decoration: none;
  color: $black;
}
