<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://color-hex.org/colors/40699f.png);">
<div class="logo">
<%=image_tag('logo.png'), class :avatar-large"%>
</div>
  <div class="container">
    <h1>Bed&Bones introduces <strong>amazing creatures</strong> to <strong>you</strong>!</h1>
    <p>Enhance your life and become a part of Bed&Bones</p>
    <a class="btn btn-light btn-lg" href="/pets">Browse Pets</a>
  </div>
</div>
