<section class="header">

    <h1><strong>BED & BONES</strong></h1>
    <p>Helping and guiding one creature at a time!</p>
    <a class="btn-bgstroke"><b>Come see a friendly face....</b></a>
</section>
