
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  text-decoration: none;
  color: black;
  opacity: 0.15;
  font-size: 26px;
  padding: 0px 10px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.footer-links a:hover {
  opacity: 50;
  color: rgb(0, 0, 0);
  box-shadow: 0 5px 5px rgba(161, 4, 140, 0.753);
}
